.btn-grad-blue {
    background-image: linear-gradient(to top right, #12D8FA, #1FA2FF);
    border-radius: 2rem;
    border: none;
    font: normal 1.1rem "Rubik";
}

.btn-grad-blue:active {
    background-image: linear-gradient(to top right, #12D8FA, #1FA2FF);
    border: none;
}

.btn-grad-red {
    background-image: linear-gradient(to top right, #DD2476, #FF512F);
    border-radius: 2rem;
    border: none;
    font: normal 1.1rem "Rubik";
}

.btn-grad-red:active {
    background-image: linear-gradient(to top right, #DD2476, #FF512F);
    border: none;
}

.content {
    font: bold 1.25rem "Rubik";
}

.sub-content {
    font: normal 1rem "Rubik";
}

.title {
    font: bold 3rem "Roboto";
}

.title-modal {
    font: bold 2rem "Roboto";
}
