body {
    min-height: 100vh;
    background-color: lightgrey;
}

a {
    text-decoration: none !important;
}

.h1 {
    font: normal 2.5rem "Roboto";
}

.content {
    font: normal 1rem "Rubik";
}

.back-button {
    font: bold 1rem "Rubik";
}

.login-link {
    font: normal .85rem "Rubik";
}

.btn-grad-blue {
    background-image: linear-gradient(to top right, #12D8FA, #1FA2FF);
    border: none;
    border-radius: 2rem;
}

.btn-grad-blue:active {
    background-image: linear-gradient(to top right, #12D8FA, #1FA2FF);
}