.btn-grad-blue {
    background-image: linear-gradient(to top right, #12D8FA, #1FA2FF);
    border: none;
    font: normal 1.1rem "Rubik";
}

.btn-grad-blue:active {
    background-image: linear-gradient(to top right, #12D8FA, #1FA2FF);
    border: none;
}

.badge-style {
    font: bold 0.5rem "Rubik";
}

.content {
    font: bold 1.25rem "Rubik";
}

.sub-content {
    font: normal 1rem "Rubik";
}

.title {
    font: normal 2rem "Roboto";
}
