.btn-grad-blue {
    background-image: linear-gradient(to top right, #12D8FA, #1FA2FF);
    border: none;
    font: normal 1.1rem "Rubik";
}

.btn-grad-blue:active {
    background-image: linear-gradient(to top right, #12D8FA, #1FA2FF);
    border: none;
}

.btn-grad-red {
    background-image: linear-gradient(to top right, #DD2476, #FF512F);
    border: none;
    font: normal 1.1rem "Rubik";
}

.btn-grad-red:active {
    background-image: linear-gradient(to top right, #DD2476, #FF512F);
    border: none;
}

.badge-style {
    font: bold 0.5rem "Rubik";
}

.user-card {
    border: solid 2px #6C757E;
}

.user-card-title {
    font: normal 2rem "Roboto";
}

.user-card-subtitle {
    font: normal 1.2rem "Rubik";
}

.content {
    font: bold 1.5rem "Roboto";
}

.sub-content {
    font: normal 1.25rem "Rubik";
}