<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | FindComputer</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rubik&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link th:href="@{/css/navbar-style.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/homepage-style.css}" />
</head>
<body>
<div th:insert="navbar.html :: navbar"></div>
<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center content">
        <img th:src="@{/images/welcome_cats.svg}" style="max-width: 450px;"/>
        <h1 class="title mb-4" th:text="'Welcome back, ' + ${user.getUsername()} + '!'"></h1>
        <div class="d-flex">
            <a th:href="@{/home/profile}"><button type="button" class="btn-grad-blue text-white px-4 py-2 mr-3">See Profile</button></a>
            <a th:href="@{/home/item-list}"><button type="button" class="btn-grad-red text-white px-4 py-2">Item List</button></a>
        </div>
    </div>
</div>
</body>
</html>