<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindComputer</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/index-style.css}" />
</head>
<body>
<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-start content">
        <h1 class="title">FindComputer</h1>
        <p class="subtitle text-white">A great place for you to find a great deal of computer component</p>
        <div class="d-flex">
            <a th:href="@{/login}"><button type="button" class="btn-grad-red text-white mr-3 px-4 py-2">Login</button></a>
            <a th:href="@{/register}"><button type="button" class="btn-grad-violet text-white px-4 py-2">Register</button></a>
        </div>
    </div>
</div>

</body>
</html>