<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${item.getName()} + ' | FindComputer'"></title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rubik&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link th:href="@{/css/navbar-style.css}" rel="stylesheet" />
    <link th:href="@{/css/item-detail-style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="navbar.html :: navbar"></div>
<div class="container py-4">
    <div class="row">
        <div class="col-md-5 py-4 px-5">
            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                <img th:src="@{/images/item-logo.png}" style="width: 275px; height: 275px;" />
            </div>
        </div>
        <div class="col col-md-7 p-4">
            <div class="title mb-4" th:text="${item.getName()}"></div>
            <div class="content">Price</div>
            <div class="sub-content mb-3" th:text="${item.getPrice()}"></div>
            <div class="content">Description</div>
            <div class="sub-content mb-3" th:text="${item.getDescription()}"></div>
            <div class="content">Category</div>
            <div class="sub-content mb-4" th:text="${item.getCategory()}"></div>
            <div class="content">Owner</div>
            <div class="sub-content mb-4" th:text="${item.getOwner().getUsername()}"></div>
            <div class="d-flex">
                <button type="button" class="btn-grad-blue text-white px-4 py-2 mr-2" data-toggle="modal" data-target="#modal">Edit Item</button>
                <button type="button" class="btn-grad-red text-white px-4 py-2" data-toggle="modal" data-target="#delete-modal">Delete</button>
            </div>
        </div>
    </div>

    <!--    Modal Update Item  -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-add-item" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title title-modal" id="modal-title">Edit Item</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/home/item-list/__${item.getId()}__}" th:object="${newItem}"  method="post">
                    <div class="modal-body">
                        <div class="form-group sub-content">
                            <label for="item-name">Item name</label>
                            <input type="text" class="form-control" id="item-name" placeholder="Enter item name" th:field="*{name}" th:required="required" th:value="${item.getName()}"/>
                        </div>
                        <div class="form-group sub-content">
                            <label for="item-desc">Item description</label>
                            <input type="text" class="form-control" id="item-desc" placeholder="Enter item description" th:field="*{description}" th:required="required" th:value="${item.getDescription()}"/>
                        </div>
                        <div class="form-group sub-content">
                            <label for="item-category">Item category</label>
                            <br>
                            <select class="" id="item-category" th:field="*{category}" th:required="required" th:value="${item.getCategory()}">
                                <option value="ram">RAM</option>
                                <option value="processor">Processor</option>
                                <option value="vga">VGA</option>
                                <option value="motherboard">Motherboard</option>
                                <option value="storage">Storage</option>
                            </select>
                        </div>
                        <div class="form-group sub-content">
                            <label for="item-price">Item price</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Rp</span>
                                </div>
                                <input type="number" class="form-control" id="item-price" min="0" th:field="*{price}" th:required="required" th:value="${item.getPrice()}">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-grad-red text-white px-4 py-2 mr-2" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn-grad-blue text-white px-4 py-2">Update Item</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--    Modal Delete Item  -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modal-add-item" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title title-modal" id="delete-modal-title">Delete Item</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body content">
                    <h3>Are you sure want to delete this item</h3>
                </div>
                <div class="modal-footer">
                    <div class="d-flex">
                        <button type="button" class="btn-grad-blue text-white px-4 py-2 mr-2" data-dismiss="modal">No</button>
                        <a th:href="@{/home/item-list/delete/__${item.getId()}__}">
                            <button type="button" class="btn-grad-red text-white px-4 py-2" >Yes</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>