<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List | FindComputer</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rubik&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link th:href="@{/css/navbar-style.css}" rel="stylesheet" />
    <link th:href="@{/css/item-style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="navbar.html :: navbar"></div>
<div class="container py-4">
    <div th:each="idx : ${#numbers.sequence(0, numberOfItems+1, 4)}">
        <div class="card-deck" th:if="${idx <= numberOfItems}">
            <div class="card invisible" th:if="${idx > numberOfItems}"></div>
            <div class="card btn bg-secondary" data-toggle="modal" data-target="#modal" th:if="${idx == numberOfItems}">
                <div class="card-body d-flex flex-column justify-content-center align-items-center p-2">
                    <img th:src="@{/images/add-item-logo.png}" style="width: 50%"/>
                    <p class="text-center text-white sub-content">Add Item</p>
                </div>
            </div>
            <div class="card bg-light" th:if="${idx < numberOfItems}">
                <img class="card-img-top py-3" th:src="@{/images/item-logo.png}" style="width: 75%; margin: 0 auto;" />
                <div class="card-body" th:with="item=${itemList.get(idx)}" >
                    <h5 class="card-title content mb-1" th:text="${item.getName()}"></h5>
                    <span class="badge badge-pill badge-secondary badge-style mb-3" th:text="${item.getCategory()}"></span>
                    <p class="card-text sub-content" th:text="'Rp' + ${item.getPrice()}"></p>
                    <div class="d-flex justify-content-center">
                        <a th:href="@{/home/item-list/__${item.getId()}__}">
                            <button class="btn-grad-blue text-white px-4 py-2">See Details</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card invisible" th:if="${idx+1 > numberOfItems}"></div>
            <div class="card btn bg-secondary" data-toggle="modal" data-target="#modal" th:if="${idx+1 == numberOfItems}">
                <div class="card-body d-flex flex-column justify-content-center align-items-center p-2">
                    <img th:src="@{/images/add-item-logo.png}" style="width: 50%"/>
                    <p class="text-center text-white sub-content">Add Item</p>
                </div>
            </div>
            <div class="card bg-light" th:if="${idx+1 < numberOfItems}">
                <img class="card-img-top py-3" th:src="@{/images/item-logo.png}" style="width: 75%; margin: 0 auto;" />
                <div class="card-body" th:with="item=${itemList.get(idx+1)}" >
                    <h5 class="card-title content mb-1" th:text="${item.getName()}"></h5>
                    <span class="badge badge-pill badge-secondary badge-style mb-3" th:text="${item.getCategory()}"></span>
                    <p class="card-text sub-content" th:text="'Rp' + ${item.getPrice()}"></p>
                    <div class="d-flex justify-content-center">
                        <a th:href="@{/home/item-list/__${item.getId()}__}">
                            <button class="btn-grad-blue text-white px-4 py-2">See Details</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card invisible" th:if="${idx+2 > numberOfItems}"></div>
            <div class="card btn bg-secondary" data-toggle="modal" data-target="#modal" th:if="${idx+2 == numberOfItems}">
                <div class="card-body d-flex flex-column justify-content-center align-items-center p-2">
                    <img th:src="@{/images/add-item-logo.png}" style="width: 50%"/>
                    <p class="text-center text-white sub-content">Add Item</p>
                </div>
            </div>
            <div class="card bg-light" th:if="${idx+2 < numberOfItems}">
                <img class="card-img-top py-3" th:src="@{/images/item-logo.png}" style="width: 75%; margin: 0 auto;" />
                <div class="card-body" th:with="item=${itemList.get(idx+2)}" >
                    <h5 class="card-title content mb-1" th:text="${item.getName()}"></h5>
                    <span class="badge badge-pill badge-secondary badge-style mb-3" th:text="${item.getCategory()}"></span>
                    <p class="card-text sub-content" th:text="'Rp' + ${item.getPrice()}"></p>
                    <div class="d-flex justify-content-center">
                        <a th:href="@{/home/item-list/__${item.getId()}__}">
                            <button class="btn-grad-blue text-white px-4 py-2">See Details</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card invisible" th:if="${idx+3 > numberOfItems}"></div>
            <div class="card btn bg-secondary" data-toggle="modal" data-target="#modal" th:if="${idx+3 == numberOfItems}">
                <div class="card-body d-flex flex-column justify-content-center align-items-center p-2">
                    <img th:src="@{/images/add-item-logo.png}" style="width: 50%"/>
                    <p class="text-center text-white sub-content">Add Item</p>
                </div>
            </div>
            <div class="card bg-light" th:if="${idx+3 < numberOfItems}">
                <img class="card-img-top py-3" th:src="@{/images/item-logo.png}" style="width: 75%; margin: 0 auto;" />
                <div class="card-body" th:with="item=${itemList.get(idx+3)}">
                    <h5 class="card-title content mb-1" th:text="${item.getName()}"></h5>
                    <span class="badge badge-pill badge-secondary badge-style mb-3" th:text="${item.getCategory()}"></span>
                    <p class="card-text sub-content" th:text="'Rp' + ${item.getPrice()}"></p>
                    <div class="d-flex justify-content-center">
                        <a th:href="@{/home/item-list/__${item.getId()}__}">
                            <button class="btn-grad-blue text-white px-4 py-2">See Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    Modal Add Item  -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-add-item" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title title-modal" id="modal-title">Add Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/home/item-list}" th:object="${item}"  method="post">
                    <div class="modal-body">
                        <div class="form-group sub-content">
                            <label for="item-name">Item name</label>
                            <input type="text" class="form-control" id="item-name" placeholder="Enter item name" th:field="*{name}" th:required="required"/>
                        </div>
                        <div class="form-group sub-content">
                            <label for="item-desc">Item description</label>
                            <input type="text" class="form-control" id="item-desc" placeholder="Enter item description" th:field="*{description}" th:required="required"/>
                        </div>
                        <div class="form-group sub-content">
                            <label for="item-category">Item category</label>
                            <br>
                            <select class="" id="item-category" th:field="*{category}" th:required="required">
                                <option value="ram">RAM</option>
                                <option value="processor">Processor</option>
                                <option value="vga">VGA</option>
                                <option value="motherboard">Motherboard</option>
                                <option value="storage">Storage</option>
                            </select>
                        </div>
                        <div class="form-group sub-content">
                            <label for="item-price">Item price</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Rp</span>
                                </div>
                                <input type="number" class="form-control" id="item-price" min="0" th:field="*{price}" th:required="required">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-white">
                        <button type="button" class="btn-grad-red text-white px-4 py-2 mr-2" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn-grad-blue text-white px-4 py-2">Save Item</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>