<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar | FindComputer</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top" th:fragment="navbar">
    <a class="navbar-brand title-brand mr-5" href="#">FindComputer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggle">
        <form th:action="@{/search}">
            <div class="input-group">
                <input type="text" name="keyword" class="form-control nav-choice" placeholder="Browse items" aria-label="search" aria-describedby="search">
                <select class="custom-select nav-choice" name="search-by" style="max-width: 40%;">
                    <option value="username" selected>Username</option>
                    <option value="item">Item</option>
                    <option value="category">Category</option>
                </select>
                <div class="input-group-append">
                    <button class="btn-grad-violet px-3" type="submit"><i class="fa fa-search" style="color: white"></i></button>
                </div>
            </div>
        </form>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active nav-choice">
                <a class="nav-link mx-3 text-white" th:href="@{/home}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active nav-choice">
                <a class="nav-link mx-3 text-white" th:href="@{/home/profile}">Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active nav-choice">
                <a class="nav-link mx-3 text-white" th:href="@{/home/item-list}">Item<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active nav-choice">
                <a th:href="@{/logout}" class="mx-3">
                    <button type="submit" class="btn-grad-violet text-white logout px-4 py-2">Log out</button>
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>