<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | FindComputer</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link th:href="@{/css/register-style.css}" rel="stylesheet" />
</head>
<body>
<div class="container py-4">
    <div class="form-group mb-3">
        <div class="d-flex">
            <a th:href="@{/}">
                <button type="submit" class="btn btn-outline-dark back-button p-3">←  Back to Home</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-danger alert-dismissible fade show" role="alert"
             th:if="${param.error}">
            Sorry, but username is already existed.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="col col-md-6 offset-md-3">
            <div class="card bg-secondary">
                <div class="card-body px-4">
                    <div class="text-center text-white h1 mb-3">Create Account</div>
                    <form th:action="@{/register}" th:object="${user}"  method="post">
                        <div class="form-group mb-3 content">
                            <label class="text-white" for="first-name">First Name</label>
                            <input type="text" class="form-control" id="first-name" placeholder="Enter your first name" th:field="*{firstName}" th:required="required">
                            <small class="error-message" th:each="error: ${#fields.errors('firstName')}" th:text="${error}"></small>
                        </div>
                        <div class="form-group mb-3 content">
                            <label class="text-white" for="last-name">Last Name</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Enter your last name" th:field="*{lastName}" th:required="required">
                            <small class="error-message" th:each="error: ${#fields.errors('lastName')}" th:text="${error}"></small>
                        </div>
                        <div class="form-group mb-3 content">
                            <label class="text-white" for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter your username" th:field="*{username}" th:required="required">
                            <small class="error-message" th:each="error: ${#fields.errors('username')}" th:text="${error}"></small>
                        </div>
                        <div class="form-group mb-3 content">
                            <label class="text-white" for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email" th:field="*{email}" th:required="required">
                            <small class="error-message" th:each="error: ${#fields.errors('email')}" th:text="${error}"></small>
                        </div>
                        <div class="form-group mb-3 content">
                            <label class="text-white" for="Password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter your password" th:field="*{password}" th:required="required">
                            <small class="text-muted text-white">Password must be at least 8 characters long</small>
                            <small class="error-message" th:each="error: ${#fields.errors('password')}" th:text="${error}"></small>
                        </div>
                        <p class="text-right login-link text-white">Have an account? <a th:href="@{/login}">Log in</a></p>
                        <div class="form-group mb-3 content">
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn-grad-blue text-white px-3 py-2">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>