<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${user.getUsername()} + ' Shop | FindComputer'"></title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rubik&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link th:href="@{/css/navbar-style.css}" rel="stylesheet" />
    <link th:href="@{/css/user-shop-style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="navbar.html :: navbar"></div>
<div class="container py-4">
    <div class="d-flex flex-column">
        <!--  header user info  -->
        <div class="card mb-4 user-card">
            <div class="card-body">
                <div class="card-title user-card-title" th:text="${user.getUsername()}"></div>
                <div class="card-subtitle user-card-subtitle mb-2 text-muted" th:text="'Owner: ' +${user.getFirstName()} + ' ' + ${user.getLastName()}"></div>
                <div class="card-subtitle user-card-subtitle text-muted" th:text="${user.getEmail()}"></div>
            </div>
        </div>

        <!--  item list  -->
        <div class="card">
            <div class="card-header bg-secondary">
                <div class="d-flex flex-row-reverse">
                    <form th:action="@{/__${user.getUsername()}__/item-list/filter}">
                        <div class="input-group sub-content">
                            <select name="filter-by" class="form-control">
                                <option disabled selected>Select Category</option>
                                <option value="ram">RAM</option>
                                <option value="processor">Processor</option>
                                <option value="vga">VGA</option>
                                <option value="motherboard">Motherboard</option>
                                <option value="storage">Storage</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn-grad-violet text-white px-3" type="submit"><i class="fa fa-filter"></i></button>
                            </div>
                        </div>
                    </form>
                    <form class="mr-3" th:action="@{/__${user.getUsername()}__/item-list/search}">
                        <div class="input-group sub-content">
                            <input type="text" name="keyword" class="form-control" placeholder="Browse items">
                            <div class="input-group-append">
                                <button class="btn-grad-violet text-white px-3" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div th:if="${numberOfItems == 0}">
                <div class="d-flex flex-column justify-content-center align-items-center p-4">
                    <img class="mb-3" th:src="@{images/empty_item.svg}" style="max-width: 300px" />
                    <div class="content">The user has not had any item to be sell yet</div>
                </div>
            </div>
            <div class="card-body" th:unless="${numberOfItems == 0}">
                <div th:each="idx : ${#numbers.sequence(0, numberOfItems, 4)}">
                    <div class="card-deck" th:if="${idx < numberOfItems}">
                        <div class="card bg-light" th:if="${idx < numberOfItems}">
                            <img class="card-img-top py-3" th:src="@{/images/item-logo.png}" style="width: 75%; margin: 0 auto;" />
                            <div class="card-body" th:with="item=${itemList.get(idx)}">
                                <h5 class="card-title content mb-1" th:text="${item.getName()}"></h5>
                                <span class="badge badge-pill badge-secondary badge-style mb-3" th:text="${item.getCategory()}"></span>
                                <p class="card-text sub-content" th:text="'Rp' + ${item.getPrice()}"></p>
                                <div class="d-flex justify-content-center">
                                    <a th:href="@{/__${user.getUsername()}__/item-list/__${item.getId()}__}">
                                        <button class="btn-grad-blue text-white px-4 py-2" style="border-radius: 2rem;">See Details</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div th:if="${idx >= numberOfItems}"><div class="card invisible"></div></div>

                        <div class="card bg-light" th:if="${idx+1 < numberOfItems}">
                            <img class="card-img-top py-3" th:src="@{/images/item-logo.png}" style="width: 75%; margin: 0 auto;" />
                            <div class="card-body" th:with="item=${itemList.get(idx+1)}" >
                                <h5 class="card-title content mb-1" th:text="${item.getName()}"></h5>
                                <span class="badge badge-pill badge-secondary badge-style mb-3" th:text="${item.getCategory()}"></span>
                                <p class="card-text sub-content" th:text="'Rp' + ${item.getPrice()}"></p>
                                <div class="d-flex justify-content-center">
                                    <a th:href="@{/__${user.getUsername()}__/item-list/__${item.getId()}__}">
                                        <button class="btn-grad-blue text-white px-4 py-2" style="border-radius: 2rem;">See Details</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body invisible" th:if="${idx+1 >= numberOfItems}"></div>

                        <div class="card bg-light" th:if="${idx+2 < numberOfItems}">
                            <img class="card-img-top py-3" th:src="@{/images/item-logo.png}" style="width: 75%; margin: 0 auto;" />
                            <div class="card-body" th:with="item=${itemList.get(idx+2)}" >
                                <h5 class="card-title content mb-1" th:text="${item.getName()}"></h5>
                                <span class="badge badge-pill badge-secondary badge-style mb-3" th:text="${item.getCategory()}"></span>
                                <p class="card-text sub-content" th:text="'Rp' + ${item.getPrice()}"></p>
                                <div class="d-flex justify-content-center">
                                    <a th:href="@{/__${user.getUsername()}__/item-list/__${item.getId()}__}">
                                        <button class="btn-grad-blue text-white px-4 py-2" style="border-radius: 2rem;">See Details</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card invisible" th:if="${idx+2 >= numberOfItems}"></div>

                        <div class="card bg-light" th:if="${idx+3 < numberOfItems}">
                            <img class="card-img-top py-3" th:src="@{/images/item-logo.png}" style="width: 75%; margin: 0 auto;" />
                            <div class="card-body" th:with="item=${itemList.get(idx+3)}" >
                                <h5 class="card-title content mb-1" th:text="${item.getName()}"></h5>
                                <span class="badge badge-pill badge-secondary badge-style mb-3" th:text="${item.getCategory()}"></span>
                                <p class="card-text sub-content" th:text="'Rp' + ${item.getPrice()}"></p>
                                <div class="d-flex justify-content-center">
                                    <a th:href="@{/__${user.getUsername()}__/item-list/__${item.getId()}__}">
                                        <button class="btn-grad-blue text-white px-4 py-2" style="border-radius: 2rem;">See Details</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card invisible" th:if="${idx+3 >= numberOfItems}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>